/* universal selector */
* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #e8e6e3;
}

body{
    background: purple;
    min-height: 100vh;
}
 h1 {
    font-family: 'Bangers', cursive;
    margin-top: 2rem;
 }

/* div's on main axis */
div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;

}
/* buttons on cross axis  */
.flex-row {
    flex-direction: row;
    
}

.btn-styling {
    height: 6.25rem;
    width: 6.25rem;
    border-radius: 30%;
    font-size: 3rem;
    border: 9px solid;
    color: #3f3f3f;
    cursor: pointer;
    transition: 100ms;
    
}

.btn-styling:hover {
    transform: scale(1.2);

}

i {
    color: #3f3f3f;
}

/* model box */
.rule-btn {
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 30%;
    border-style: none;
    font-size: 1.5rem;
    border: solid;
}

.close-btn {
    background-color: white;
    color: black;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    border-style: none;
    border-radius: 30%;
    border: solid;
    border-color: purple;
    font-size: 1.2rem;
}
.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;

}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: black;
    border-radius: 0.3125rem;
    padding: 1.875rem, 3.125rem ;
    width: 37.5rem;
    max-width: 100%;

}

li {
    margin-top: 0.5rem;
    font-size: 1.5rem;
}

/* media queires */
@media (min-width: 768px ) {
    body{
        background: none;
        background-image: url('assets/images/55758399_m.jpg');
        min-height: 100vh;
    } 
    
    .flexbox-container {
        width: 44.875rem;
        height: 46.375rem;
        margin: auto;
        margin-top: 5rem;
        background-color: rgba(128, 0, 128, 0.4);
    }

    div {
        gap: 3.4rem;
    }

    #row-div {
        flex-direction: row;
    }
}

@media (min-width: 1000px) {
    .flexbox-container {
        width: 64.875rem;
    }
}